<!--index.html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Assignment 6</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hover over the image to change seasons!</h1>
        <div id="app">
            <div class="image-wrapper">
                <img v-if="!hover" @mouseover="hover = !hover" :src="img1" alt="Magic Kingdom at Christmas"/>
                <img v-else @mouseleave="hover = !hover" :src="img1Back" alt="Magic Kingdom at Halloween"/>

                <img v-if="!hover2" @mouseover="hover2 = !hover2" :src="img2" alt="Moosehead Lake in Summer"/>
                <img v-else @mouseleave="hover2 = !hover2" :src="img2Back" alt="Moosehead Lake in Fall"/>

                <img v-if="!hover3" @mouseover="hover3 = !hover3" :src="img3" alt="London at Christmas"/>
                <img v-else @mouseleave="hover3 = !hover3" :src="img3Back" alt="London in Summer"/>

                <img v-if="!hover4" @mouseover="hover4 = !hover4" :src="img4" alt="Germany at Christmas"/>
                <img v-else @mouseleave="hover4 = !hover4" :src="img4Back" alt="Germany in Summer"/>
            </div>
        </div>
        
        <!--Include Vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        
        <!--Create Vue instance-->
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    img1 : "./Media/MK_Christmas.jpg",
                    img1Back : './Media/MK_Halloween.png',
                    img2 : './Media/ML_Summer.jpg',
                    img2Back : './Media/ML_Fall.jpg',
                    img3 : './Media/london_christmas.jpg',
                    img3Back : './Media/london_summer.jpg',
                    img4 : './Media/GCM_Christmas.jpg',
                    img4Back : './Media/GCM_Summer.jpg',
                    hover : false,
                    hover2 : false,
                    hover3 : false,
                    hover4 : false
                }
            })
         </script>
    </body>
</html>
