<!--index.html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Assignment 6</title>
    </head>
    <body>
        <div id="app">
            <img v-if="!hover" @mouseover="hover = !hover" :src="img1" alt="Magic Kingdom at Christmas"/>
            <img v-else @mouseleave="hover = !hover" :src="img1Back" alt="Magic Kingdom at Halloween"/>

            <img v-if="!hover" @mouseover="hover = !hover" :src="img2" alt="Moosehead Lake in Summer"/>
            <img v-else @mouseleave="hover = !hover" :src="img2Back" alt="Moosehead Lake in Fall"/>
        </div>
        
        <!--Include Vue-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        
        <!--Create Vue instance-->
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    img1 : "./Media/MK_Christmas.jpg",
                    img1Back : './Media/MK_Halloween.png',
                    img2 : './Media/ML_Summer.jpg',
                    img2Back : './Media/ML_Fall.jpg',
                    img3 : '',
                    img3Back : '',
                    img4 : '',
                    img4Back : '',
                    hover : false
                }
            })
         </script>
    </body>
</html>
